@use "reset";
@use "vars";
@use "fonts";
@use "global";

.blog-main {
  &__inner {
    display: flex;
    gap: 40px;
    padding: 40px 0;
    border-top: 1px solid vars.$border-color-primary;
    border-bottom: 1px solid vars.$border-color-primary;
  }

  &__img {
    max-width: max-content;
    max-height: auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__category {
    align-self: flex-start;
    margin-bottom: 40px;
    padding: 8px 24px;
    font-size: 14px;
    border: 1px solid vars.$border-color-primary;
  }

  &__title {
    margin-bottom: 40px;
    @extend %lora-400;
    font-size: 48px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__text {
    max-width: 660px;
    margin-bottom: 40px;
    font-size: 24px;
    opacity: 0.4;
  }

  &__link {
    align-self: flex-start;
    margin-top: auto;
    padding: 32px 64px;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid vars.$border-color-primary;
  }
}

.blog {
  &__nav {
    display: flex;
    align-items: center;
    padding: 32px 0;
  }

  &__nav-title {
    margin-right: auto;
    @extend %lora-400;
    font-size: 32px;
  }

  &__nav-category {
    max-width: 335px;
    margin-right: 35px;
  }

  &__nav-btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 100px;
  }

  &__nav-btn {
    opacity: 0.4;
    transition: opacity 0.3s ease;
  }

  &__nav-btn--active {
    opacity: 1;
    filter: none;
  }

  &__list {
    &--grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px 20px;
    }

    &--line {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;

      .blog__list-item {
        display: flex;
        gap: 20px;
      }
    }
  }

  &__list-img-link {
    picture {
      width: 100%;
    }

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  &__list-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  &__list-category {
    align-self: start;
    margin-bottom: 16px;
    padding: 8px 24px;
    font-size: 14px;
    border: 1px solid vars.$border-color-primary;
  }

  &__list-title {
    margin-bottom: 8px;
    @extend %lora-500;
    font-size: 24px;
  }

  &__list-date {
    font-size: 16px;
    opacity: 0.4;
    @extend %inter-400;
  }
}

.select {
  width: 100%;
  padding: 2px 31px 14px 3px;
  border: none;
  color: rgba($color: #000000, $alpha: 0.4);
  appearance: none;
  border-bottom: 1px solid vars.$border-color-primary;

  &:focus {
    outline: none;
  }

  &__wrapper {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 5px;
      right: 3px;
      background-image: url(../images/blog-category-arrow.svg);
      background-size: contain;
      background-repeat: no-repeat;
      width: 19px;
      height: 19px;
      pointer-events: none;
    }
  }
}
.search {
  &__form {
    position: relative;
  }

  &__input {
    width: 100%;
    padding: 2px 31px 14px 3px;
    border: none;
    border-bottom: 1px solid vars.$border-color-primary;

    &::placeholder {
      color: #000000;
      opacity: 0.4;
    }
  }

  &__btn {
    position: absolute;
    top: 7px;
    right: 3px;
  }
}
