@use "reset";
@use "vars";
@use "fonts";
@use "global";

.collections-top {
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.collections {
  &__title {
    margin-bottom: 50px;
    text-align: center;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  // &__items {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);
  //   grid-template-rows: repeat(5, 1fr);
  //   gap: 40px;
  // }

  // &__item {
  //   position: relative;

  //   &:nth-child(5) {
  //     grid-column: span 2;
  //     grid-row: span 2;
  //     height: fit-content;
  //   }

  //   &:nth-child(10) {
  //     margin-top: -130px;
  //     height: fit-content;
  //   підняти до потрібної вистоти 10-11 та 13-14 ел}

  //   &:nth-child(12) {
  //     grid-column: span 2;
  //     grid-row: span 2;
  //     height: fit-content;
  //   }
  //   як варіант }

  &__items {
    display: grid;
    grid-template-areas:
      "aa ab ba bb"
      "cc cc ca cb"
      "cc cc da db"
      "ea eb ff ff"
      "fa fb ff ff";
    gap: 40px;
  }

  &__item {
    position: relative;

    &:nth-child(1) {
      grid-area: aa;
    }

    &:nth-child(2) {
      grid-area: ab;
    }

    &:nth-child(3) {
      grid-area: ba;
    }

    &:nth-child(4) {
      grid-area: bb;
    }

    &:nth-child(5) {
      grid-area: cc;
      height: fit-content;
    }

    &:nth-child(6) {
      grid-area: ca;
    }

    &:nth-child(7) {
      grid-area: cb;
    }

    &:nth-child(8) {
      grid-area: da;
    }

    &:nth-child(9) {
      grid-area: db;
    }

    &:nth-child(10) {
      grid-area: ea;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(11) {
      grid-area: eb;
      margin-top: -130px;
      height: fit-content;
    }

    &:nth-child(12) {
      grid-area: ff;
      height: fit-content;
    }

    &:nth-child(13) {
      grid-area: fa;
    }

    &:nth-child(14) {
      grid-area: fb;
    }
  }

  &__img {
    width: 100%;

    img {
      object-fit: cover;
    }
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 6px;
  }

  &__link {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 12px;
    text-align: center;
    @extend %lora-400;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background-color: vars.$color-accent;
  }
}
