@use "reset";
@use "vars";
@use "fonts";
@use "global";
@use "appointment";
@use "collections";
@use "product";
@use "page-404";
@use "blog";


.promo {
  background-color: vars.$bg-primary;
  padding: 7px 0 9px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

.header {
  padding: 20px 0 30px;
  text-transform: uppercase;
  font-size: 16px;
  color: vars.$color-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__logo {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  &__lang {
    display: flex;
    &--active {
      @extend %opensans-700;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.logo {
  display: inline-block;
}

.menu {
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.top {
  min-height: 90vh;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
    max-width: 446px;
    padding: 115px 0 50px;
    margin-right: 134px;
    margin-left: auto;
  }

  &__title {
    @extend %lora-400;
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 60px;
  }

  &__link {
    display: inline-block;
    align-self: start;
    padding: 12px 38px;
    border-radius: 3px;
    background-color: vars.$color-accent;
    color: #fff;
    text-transform: uppercase;
  }
}

.new-collection {
  background-image: url("../images/top-decor.svg");
  background-repeat: no-repeat;
  background-position: 230px -42%;

  &__inner {
    padding: 150px 0;
    display: flex;
  }

  &__content {
    display: flex;
    flex-direction: column;
    padding: 75px 40px 0 40px;
    max-width: 492px;
  }

  &__title {
    @extend %lora-400;
    font-size: 45px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 20px;
    color: vars.$color-text-muted;
  }

  &__link {
    align-self: start;
    margin-top: auto;
    padding: 10px 65px;
    border: 1px solid vars.$bg-primary;
    font-size: 16px;
    color: vars.$color-text-muted;
  }

  &__img {
    padding-top: 75px;
    width: 100%;

    img {
      max-width: 347px;
      height: 564px;
      object-fit: cover;
    }
  }

  &__box {
    position: relative;
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
  }

  &__box-img {
    position: absolute;
    top: 0;
    left: -75px;
    max-width: fit-content;
  }

  &__caption {
    width: 290px;
    margin-top: auto;
    margin-bottom: 40px;
    font-size: 20px;
    color: vars.$color-text-muted;
  }
}

.join-us {
  background-color: vars.$bg-primary;

  &__inner {
    display: flex;
    gap: 40px;
    padding: 0 40px;
  }

  &__img {
    min-width: 540px;
  }

  &__box {
    padding: 40px 0;
  }

  &__title {
    margin-bottom: 20px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 30px;
    @extend %lora-400;
    font-size: 30px;
    color: vars.$color-primary;
  }

  &__input {
    display: block;
    width: 100%;

    padding-bottom: 10px;
    @extend %opensans-400;
    color: vars.$color-text-muted;

    border: none;
    border-bottom: 1px solid vars.$color-text-muted;
    background-color: transparent;
  }

  &__input + .join-us__input {
    margin-top: 10px;
  }

  &__btn {
    position: relative;
    z-index: 6;
    display: block;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    padding: 12px;
    background-color: vars.$color-accent;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
  }

  &__form-caption {
    font-size: 11px;
  }
}

.designer {
  padding: 150px 0 210px;
  &__inner {
    position: relative;
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }

  &__img-decor {
    position: absolute;
    top: -380px;
    left: 50%;
    transform: translate(-50%);
    z-index: 5;
  }

  &__content {
    max-width: 400px;
  }

  &__title {
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 16px;
    color: vars.$color-text-muted;
  }

  &__box {
    position: relative;
    text-align: center;
  }

  &__img {
    margin-bottom: 40px;
  }

  &__caption {
    position: absolute;
    top: 180px;
    left: -160px;
    width: 300px;
    padding: 20px 18px;
    background-color: #fff;
    @extend %lora-400;
    font-size: 20px;
    border: 3px solid vars.$bg-primary;
  }

  &__link {
    display: inline-block;
    padding: 10px 90px;
    font-size: 16px;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
  }
}

.our-advantages {
  background-color: vars.$bg-primary;

  &__wrapper {
    position: relative;
    display: flex;
    padding: 64px 0 34px;
  }

  &__img {
    position: absolute;
    bottom: 0;
    left: 40px;
  }

  &__decor {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__inner {
    margin-left: auto;
    padding-right: 128px;
  }

  &__title {
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__list {
    column-count: 2;
    column-gap: 80px;
  }

  &__item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 50px;

    &::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 22px;
      left: 0;
      background-image: url("../images/our-advantages-item-decor.svg");
    }
  }
}

.our-blog {
  padding: 150px 0 0;

  &__inner {
    display: grid;
    grid-template-columns: 1fr 280px 330px;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 0 40px 30px 40px;
    background-image: url("../images/our-blog-decor.svg");
    background-repeat: no-repeat;
    background-position: left bottom;
  }

  &__title {
    margin-bottom: 50px;
    @extend %lora-400;
    font-size: 45px;
    text-transform: uppercase;
  }

  &__text {
    max-width: 400px;
    margin-bottom: 50px;
    color: vars.$color-text-muted;
    font-size: 16px;
  }
  &__link {
    display: inline-block;
    padding: 10px 90px;
    font-size: 16px;
    @extend %lora-400;
    color: vars.$color-text-muted;
    border: 1px solid vars.$color-text-muted;
  }

  &__box-right {
    grid-row: span 2;
    align-self: center;
    margin-top: 35px;
  }

  &__box-img {
    margin-bottom: 20px;
  }

  &__box-link {
    display: inline-block;
    margin-bottom: 5px;
    @extend %opensans-400;
    color: vars.$color-text-muted;
  }

  &__box-date {
    @extend %opensans-300;
    font-size: 16px;
  }

  &__box-bottom {
    grid-column: span 2;
    margin-left: auto;
  }
}

.footer {
  font-size: 16px;
  color: vars.$color-text-muted;

  &__menu {
    padding: 55px 0 44px;
    border-bottom: 1px solid vars.$bg-primary;
    margin-bottom: 50px;
  }

  &__menu-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__menu-link {
    border-bottom: 1px solid vars.$bg-primary;
  }

  &__elements {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 50px;
  }

  &__element-title {
    opacity: 0.5;
    margin-bottom: 20px;
  }

  &__element-item {
    margin-bottom: 5px;
  }

  &__social-list {
    display: flex;
    gap: 10px;
  }

  &__form {
    position: relative;
    width: 250px;
  }

  &__form-input {
    display: block;
    padding: 1px 30px 5px 0;
    width: 100%;
    color: vars.$color-text-muted;
    border: none;
    border-bottom: 1px solid vars.$bg-primary;

    &::placeholder {
      color: vars.$color-text-muted;
    }
  }

  &__form-button {
    position: absolute;
    right: 0;
    top: 8px;
  }

  &__bottom {
    background-color: vars.$bg-primary;
    padding: 7px 0 9px;
    font-size: 11px;
    color: vars.$color-primary;
  }

  &__bottom-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 26px;
  }

  &__bottom-list {
    display: flex;
    gap: 0 37px;
  }

  &__bottom-item + .footer__bottom-item {
    position: relative;
    &::before {
      content: "|";
      position: absolute;
      left: -21px;
    }
  }
}

.breadcrumbs {
  padding: 30px 0 80px;

  &__list {
    display: flex;
    gap: 16px;
    font-size: 16px;
    color: vars.$color-text-muted;
  }
  &__item {
    position: relative;
  }

  &__item + .breadcrumbs__item::before {
    content: "/";
    position: absolute;
    left: -10px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0 90px;

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;

    &--disabled {
      display: none;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    font-size: 16px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;
    border-radius: 8px;

    &--active {
      color: #fff;
      background-color: vars.$color-text-muted;
    }
  }
}
